<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div class="welcome">
            
            <div class="welcometext">
                <h1>Admin Page</h1>                
            </div>

        </div>
      

        <div class="productContainer">
            <div class="navbar-mini">
                <ul>
                    <li id="naviUser" class="navbarmini-links">Edit User</li>
                    <li id="naviHawker" class="navbarmini-links">Edit Hawker Centre</li>
                    <li id="naviAddHawker" class="navbarmini-links">Add Hawker Centre</li>
                    <li id="naviAddHawkerStall" class="navbarmini-links">Add Hawker Stall</li>
                </ul>
            </div>

            <div class="usersList">  
            
                <h2>Edit User</h2>
                <label for="users">User: </label>
                <select id="usersDropDown" name="user">
                    <option value="">Select....</option>
                    <% allUsers.forEach( eachUser => { %>
                        <option value="<%= eachUser._id %>"><%= eachUser.username %></option>
                    <% }) %>
                </select>

                <% allUsers.forEach ( (eachUser, index) => { %>
                <div id="<%= eachUser._id %>" class="inv">
                    <p>Username: <%= eachUser.username %></p>
                    <div class="stall-fooditems">
                        <h3>Edited Posts</h3>
                        <table>
                            <tr>
                                <th>Hawker Centre</th>
                                <th>No.</th>
                                <th>Edit History</th>
                            </tr>
                            <% 
                            if (eachUser.editedPosts) {
                                eachUser.editedPosts.forEach( (item) => { %>
                                
                                <tr>
                                    <td><%= item.hawkercentre %></td>
                                    <td><%= item.stallnumber %></td>
                                    <td><%= item.editDate %></td>
                                </tr>
    
                            <%  })
                                } %>
                        </table>
                        
                    </div>


                    <p>Access: <%= eachUser.access %> </p>
                    <p>Change to: </p>
                    
                    <form method="POST" action="/admin/user/edit/<%= eachUser._id %>?_method=PUT">
                        <div>
                            <input class="radiobutton" id="administrator<%= index %>" type="radio" name="access" value="administrator">
                            <label for="administrator<%= index %>">Administrator</label><br>                      
                            <input class="radiobutton" checked id="bureaucrat<%= index %>" type="radio" name="access" value="bureaucrat" >  
                            <label for="bureaucrat<%= index %>">Bureaucrat</label><br>
                            <input class="radiobutton" id="guest<%= index %>" type="radio" name="access" value="guest">
                            <label for="guest<%= index %>">Guest</label><br><br>
                        </div>
                        
                        <button id="editUserButton<%= index %>" type="submit">Edit User</button><br><br>
                    </form>

                </div>
                <% }) %>
                
                    
            </div>       
                
                
            <div class="hawkerList inv">
                <h2>Edit Hawker Centre</h2>
                <label for="hawkercentresDropDown">Hawker Centre: </label>
                <select id="hawkercentresDropDown" name="hawkercentre">
                    <option>Select....</option>
                    <% allHawkerCentres.forEach( eachHawkerCentre => { %>
                    <option value="<%= eachHawkerCentre._id %>"><%= eachHawkerCentre.name %></option>
                    <% }) %>
                </select>
                
                
                <% allHawkerCentres.forEach( (eachHawkerCentre, index) => { %>
                <div id="<%= eachHawkerCentre._id %>" class="inv">
                    <p><%= eachHawkerCentre.name %></p>

                    <form method="POST" action="/admin/hawkercentre/edit/<%= eachHawkerCentre._id %>?_method=PUT">
                        <div>
                            <label for="address<%= index %>">Address: </label>
                            <input id="address<%= index %>" type="text" name="address" value="<%= eachHawkerCentre.address %>"><br><br>
                            <label for="longitude<%= index %>">Longitude: </label>
                            <input id="longitude<%= index %>" type="number" name="longitude" value="<%= eachHawkerCentre.longitude %>"><br><br>
                            <label for="latitude<%= index %>">Latitude: </label>
                            <input id="latitude<%= index %>" type="number" value="<%= eachHawkerCentre.latitude %>"><br><br>                   
                            <label for="numberofstalls<%= index %>">No. of Stalls: </label>
                            <input id="numberofstalls<%= index %>" type="number" value="<%= eachHawkerCentre.numberofstalls %>"><br><br>                   
                        </div>

                        <button id="editHawkerCentreButton<%= index %>" type="submit">Edit Hawker Centre</button><br><br>
                    </form>
                </div>
                <% }) %>
            </div>

            <div class="addHawkerCentreContainer inv">
                <h2>Add Hawker Centre</h2>
                <form method="POST" action="/admin/hawkercentre/add">
                    <div>
                        <label for="addressNew">Address: </label>
                        <input id="addressNew" type="text" name="address"><br><br>
                        <label for="longitudeNew">Longitude: </label>
                        <input id="longitudeNew" type="number" name="longitude"><br><br>
                        <label for="latitudeNew">Latitude: </label>
                        <input id="latitudeNew" type="number"><br><br>                   
                        <label for="numberofstallsNew">No. of Stalls: </label>
                        <input id="numberofstallsNew" type="number"><br><br>                   
                    </div>

                    <button id="addHawkerCentreButton" type="submit">Add Hawker Centre</button><br><br>
                </form>
            
            </div>

            <div class="addHawkerStall inv">
                <h2>Add Hawker Stall</h2>
                <form method="POST" action="/admin/hawkerstall/new" enctype="multipart/form-data">
                    <input class="hidden-input" name="userId" value="<%= user._id %>" readonly />
                    <div>                        
                        <label for="hawkercentreNew">Hawker Centre: </label>
                        <select id="hawkercentreNew" name="hawkercentre">                    
                            <% allHawkerCentres.forEach( eachHawkerCentre => { %>
                            <option value="<%= eachHawkerCentre.name %>"><%= eachHawkerCentre.name %></option>
                            <% }) %>
                        </select><br>

                        <label for="stallnumberNew">Unit No:</label>
                        <input id="stallnumberNew" name="stallnumber" required><br>
                        
                        <label for="stall-nameNew">Name:</label>
                        <input id="stall-nameNew" name="name" required><br>                                    
                        
                        <label for="stall-imgNew">Image: </label>
                        <input id="stall-stall-imgNew" name="img" type="file" accept="image/*" capture="user" placeholder="upload image files" /><br>                    
                        
                        <label for="tagsNew">Tags: </label>
                        <input id="tagsNew" name="tags" placeholder="separate tags by comma"><br>

                        <h3>Food Items</h3>
                        
                        <% 
                        for (let i=0; i<4; i++) { %>
                                
                            <label for="foodNameNew">Name: </label><input id="foodNameNew" type="text" name="foodName"><br />
                            <label for="descriptionNew">Description: </label><input id="descriptionNew" type="text" name="description"><br />
                            <label for="priceNew">Price: </label><input id="priceNew" type="number" step="0.01" name="price"><br /><br /><br />
                            
                        <% } %> 
                    </div>
                    <button type="submit">Add Stall</button>
                </form>
            </div>
                   

                
                       
            
        </div>
    </div>  
       
    <script>
        document.querySelector(".navbar-mini").addEventListener('click', (e) => {
            if (e.target.id === "naviHawker") {
                document.querySelector('.usersList').className = "usersList inv";
                document.querySelector('.addHawkerCentreContainer').className = "addHawkerCentreContainer inv";
                document.querySelector('.addHawkerStall').className = "addHawkerStall inv";
                document.querySelector('.hawkerList').className = "hawkerList";
            } else if (e.target.id === "naviUser") {
                document.querySelector('.hawkerList').className = "hawkerList inv";
                document.querySelector('.addHawkerCentreContainer').className = "addHawkerCentreContainer inv";
                document.querySelector('.addHawkerStall').className = "addHawkerStall inv";
                document.querySelector('.usersList').className = "usersList";
            } else if (e.target.id === "naviAddHawker") {
                document.querySelector('.hawkerList').className = "hawkerList inv";
                document.querySelector('.addHawkerCentreContainer').className = "addHawkerCentreContainer";
                document.querySelector('.addHawkerStall').className = "addHawkerStall inv";
                document.querySelector('.usersList').className = "usersList inv";
            } else if (e.target.id === "naviAddHawkerStall") {
                document.querySelector('.hawkerList').className = "hawkerList inv";
                document.querySelector('.addHawkerCentreContainer').className = "addHawkerCentreContainer inv";
                document.querySelector('.addHawkerStall').className = "addHawkerStall";
                document.querySelector('.usersList').className = "usersList inv";
            }
        })


        document.getElementById("usersDropDown").addEventListener('change', function() {
            const vis = document.querySelector('.vis');
            const target = document.getElementById(this.value);
            if (vis !== null) {
                vis.className = 'inv';
            }
            if (target !== null) {
                target.className = 'vis';
            }
            
        });

        document.getElementById("hawkercentresDropDown").addEventListener('change', function() {
            const vis = document.querySelector('.vis');
            const target = document.getElementById(this.value);
            if (vis !== null) {
                vis.className = 'inv';
            }
            if (target !== null) {
                target.className = 'vis';
            }
            
        });

    </script>
</body>
</html>