<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div id="hawkerStallID" class="hidden-input"><%= data.id %></div>
        <div class="welcome">
            
            <div class="welcometext notFirstPage">
                <h1><a id="hawkerCentreName" href="/hawkercentre/?name=<%= data.hawkercentre %>"><%= data.hawkercentre %></a></h1>                
            </div>

        </div>
      

        <div class="productContainer">
            
            <div class="stall-container">
                <div class="stall-maindata">
                    <h2><%= data.name %></h2>                    
                    <p>Unit: <%= data.stallnumber %></p>
                    <img src="<%= data.img %>" alt="stallimage" />
                </div>
                
                <div class="stall-fooditems">
                    <table>
                        <tr>
                            <th>Food Items</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        <% data.foodItems.forEach( (item, index) => { %>

                        
                        <tr>
                            <td><%= item.foodName %></td>
                            <td><%= item.description %></td>
                            <td>$<%= item.price.toFixed(2) %></td>
                        </tr>

                        <% }) %>
                    </table>

                    <div class="stall-tags">
                        <div class="tags">Tags: </div>
                        <ul>
                            <% data.tags.forEach((item) => { %>
                                <li><a href='/search/<%= item %>'><%= item %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <% if (user) { %>
                <div id="editbutton"><a href="<%= data.id %>/edit">EDIT</a></div>
                    <% if (user.access === "administrator") { %>
                    <div id="deletebutton">DELETE</div>
                    <% } %>
                <% } %>
                
                
            </div>
            <% if (data.lastEditedBy) { %>
            <div id="lastEditedBy">Last edited by <%= data.lastEditedBy %> on <%= data.updatedAt %></div>
            <% } %>
            
        </div>
    </div>  

    <script>
        const deleteButton = document.querySelector('#deletebutton');

        if (deleteButton) {
            deleteButton.addEventListener('click', async () => {
                const hawkerStallID = document.querySelector('#hawkerStallID').textContent;
                const hawkerCentreName = document.querySelector('#hawkerCentreName').textContent;
                console.log(hawkerCentreName);

                try {
                    const res = await fetch(`/hawkercentre/${hawkerStallID}`, {
                        method: 'DELETE',                    
                        headers: { 'Content-Type': 'application/json'}
                    });                                
                    location.assign(`/hawkercentre/?name=${hawkerCentreName}`); //redirect to hawkerCentre List          
                } catch (err) {
                    console.log(err);
                }

            });
        }
    </script>
    
    
</body>
</html>