<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div class="welcome">
            
            <div class="welcometext">
                <h1><%= data.hawkercentre %></h1>                
            </div>

        </div>
      

        <div class="productContainer">
            <div class="stall-container">
                <form method="POST" action="/hawkercentre/<%= data.id %>?_method=PUT">
                
                    <div class="stall-editdata">
                        <p>Unit No: <%= data.stallnumber %></p>

                        <label for="stall-name">Name:</label>
                        <input id="stall-name" name="name" value="<%= data.name %>" /><br>                                    
                        
                        <label for="stall-img">Image: </label>
                        <input id="stall-img" name="img" value="<%= data.img %>" placeholder="enter url" /><br>                    

                        <label for="tags">Tags: </label><input id="tags" name="tags" placeholder="separate tags by comma" /><br>

                        <h3>Food Items</h3>
                        <% data.foodItems.forEach( (item, index) => { %>                        
                                
                        <label for="foodName">Name: </label><input name="foodName" value="<%= item.foodName %>"><br />
                        <label for="description">Description: </label><input name="description" value="<%= item.description %>"><br />
                        <label for="price">Price: </label><input type="number" step="0.01" name="price" id="price" value="<%= item.price %>"><br />
                        <br />
                        <br />        

                        <% }) 
                        const lengthFoodItems = data.foodItems.length;
                        for (let i=lengthFoodItems; i<lengthFoodItems+3; i++) { %>
                                
                        <label for="foodName">Name: </label><input id="foodName" type="text" name="foodName"><br />
                        <label for="description">Description: </label><input id="description" type="text" name="description"><br />
                        <label for="price">Price: </label><input id="price" type="number" step="0.01" name="price"><br />
                        <br />
                        <% } %>
                    
                    </div>
                    <button class="addFieldsButton">Add More Fields</button><br>
                            
                    <button type="submit" class="edit-form">Submit</button>                    

                        
                </form>
            </div>            
            
        </div>
    </div>  
    
    <script>
        const addFieldsButton = document.querySelector(".addFieldsButton");
        addFieldsButton.addEventListener("click", addFields);
        function addFields(e) {
            e.preventDefault();
            const editdataContainer = document.querySelector(".stall-editdata");
            editdataContainer.innerHTML += `<label for="foodName">Name: </label><input id="foodName" type="text" name="foodName"><br />
                              <label for="description">Description: </label><input id="description" type="text" name="description"><br />
                              <label for="price">Price: </label><input id="price" type="number" step="0.01" name="price"><br />
                              <br />
                              <br />`;

        }
        

    </script>
</body>
</html>