<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div class="welcome">
            
            <div class="welcometext">
                <h1>Hawkerpedia</h1>                
            </div>
            
            <h3 id="welcomeline">A repository of hawker stalls by food lovers in Singapore</h3>

        </div>

        <% if (!user) { %>
        <div class="introtext">
            <h2><a href="/register">Register Now</a></h2>
            <p>Join the Hawkerpedia community and populate the data of hawker centres in Singapore!</p>
        </div>
        <% } %>
        
        <div class="searchBar">
            <form>
                <div>
                    <input id="searchItem" type="text" placeholder="What do you like to eat today?" name="searchItem" required />                                   
                </div>
                <div class="search_error"></div><br>    
                <button id="searchButton" type="submit">Search</button>

            </form>
        </div>

        <div class="productContainer">

            <div class="index-hawkerList">
                <h2>Nearest Hawker Centres</h2>
                <ul id="nearestHawkers"><p>Enable location to obtain the 3 nearest hawker centres</p></ul>
            </div>

            <div class="navbar-mini">
                
                <ul>
                    <li class="show-all">Show All</li>
                    <% navigation.forEach( letter => { %>
                        <li id="navi-<%= letter %>" class="navbarmini-item"><%= letter %></li>
                    <% }) %>
              
                </ul>
            </div>

            <div class="index-hawkerList">                           

                <h2>List of Hawker Centres</h2>
                <ul id="hawkercentresList">
                    <% data.forEach( (item) => { %>
                        <li class="hawkercentreItem"><a href="/hawkercentre?name=<%= item %>"><%= item %></a></li>
                    <% }) %>
                </ul>    
                
                
                
            </div>            
            
        </div>
    </div>  
    
    <script type="text/javascript" src="/homepageScript.js"></script>
    
</body>
</html>